:root {
    --code-color: #cccccc;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
}
section {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-right: 2vh;
    padding-left: 2vh;
    box-sizing: border-box;
    text-align: left;
}
.blog-post {
    box-sizing: border-box;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0vh;
    margin-right: 0vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-style: solid;
    border-width: 1px;
}
.blog-link {
}

.post-header {
}
.post-body {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left
}
.post-footer {
    border-top: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
}
pre {
    position: relative;
}
code {
    display: block;
    background-color: var(--code-color);
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 12px;
    line-height: 1.5;
}
