:root {
    --background-color: white;
    --primary-color: grey;
    --text-color: black;
    --nav-color: black;
    --code-background-color: #e0e0e0;
    --code-background-color: #808080;
    --margin: 15%;
}

/* Generic elements */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    text-align: center;
}
header {
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-bottom: 1px solid var(--nav-color);
    padding-top: 3vh;
    padding-bottom: 3vh;
}
section {
    margin-right: var(--margin);
    margin-left: var(--margin);
}
footer {
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-top: 1px solid var(--nav-color);
}
nav {
    top: 0;
    position: sticky;
    height: 7vh;
    background-color: var(--nav-color);
    text-align: left;
}
code {
    background-color: var(--code-background-color);
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 2px 3px 2px 3px;
}
pre > code {
    display: block;
    border: 1px solid var(--code-background-color);
    padding: 8px 5px 8px 5px;
}
strong {
    color: var(--text-color);
}

/* Specific classes */
.nav-wrap {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.nav-link {
    color: var(--background-color);
    text-decoration-line: none;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 24px;
}
.nav-link:hover {
    color: var(--primary-color);
}
.messages {
    text-align: left;
    margin-top: 2vh;
    padding: 3vh 2vh 3vh 2vh;
    border: 1px solid var(--nav-color);
    font-weight: bold;
    color: var(--text-color);
}
.blog-card {
    box-sizing: border-box;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0vh;
    margin-right: 0vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}
.blog-post {
    text-align: left;
}
.header-link {
    color: var(--primary-color);
    text-decoration-line: none;
}
.header-link:hover {
    color: var(--text-color);
}
.in-text-link {
    color: var(--primary-color);
    text-decoration-line: none;
}
.in-text-link:hover {
    text-decoration-line: underline;
}
