:root {
    --background-color: white;
    --primary-color: grey;
    --text-color: black;
    --nav-color: black;
    --margin: 10%;
}

html  {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--background-color);
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-left: var(--margin);
    margin-right: var(--margin);
}
footer {
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-top: 1px solid var(--nav-color);
}
nav {
    display: flex;
    position: sticky;
    top: 0px;
    padding-left: var(--margin);
    padding-right: var(--margin);
    text-align: left;
    align-items: center;
    background-color: var(--nav-color);
    z-index: 1;
}
h1 {
    font-size: 26pt;
    color: var(--text-color);
}
p {
    color: var(--text-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "home"
        "navbar"
        "blog"
        "about"
        "footer";
    grid-template-rows:
        [home] 100vh
        [navbar] 7vh
        [blog] minmax(100vh, auto)
        [about] minmax(100vh, auto)
        [footer] 25vh;
}
nav {
    grid-area: navbar;
}
section #home {
    grid-area: home;
}
section #blog {
    grid-area: blog;
}
section #about {
    grid-area: about;
}
footer {
    grid-area: footer;
}

.about-grid {
    display: grid;
    grid-template-columns: minmax(0, 70vh);
    justify-content: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.intro {
    font-size: 42px;
    margin-top: 15%;
    color: var(--text-color);
}
.nav-link {
    display: flex;
    height: 100%;
    padding-left: 3vh;
    padding-right: 3vh;
    align-items: center;
    font-size: 24px;
    text-decoration-line: none;
    color: var(--background-color);
    transition: all 0.5s;
}
.nav-link:hover {
    text-decoration: underline;
}
.nav-link.active {
    background-color: var(--primary-color);
    color: var(--background-color);
}
.button-link {
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    font-size: 16px;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    transition: color 0.5s, background-color 0.5s, opacity 0.5s;
}
.button-link:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
}
.card-wrap {
    width: 200px;
    height: 300px;
    margin: 2vh 2vh 2vh 2vh;
}
.card {
    position: relative;
    height: 200px;
    width: 200px;
}
.card-bg {
    display: block;
    height: inherit;
    width: inherit;
    opacity: 1;
    transition: opacity 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5vh;
}
.card-bg:hover {
    opacity: 0;
}
.card-bg-alt {
    display: block;
    height: inherit;
    width: inherit;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-bg-alt:hover {
    opacity: 1;
}
.card-wrap > .button-link {
    position: relative;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.footer-wrap {
    margin-top: 5vh;
}
.icon {
    margin: 1vh;
}
.icon-link {
    width: 64px;
    height: 64px;
    border: 1px var(--primary-color) solid;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    transition: background-color 0.5s ease-in-out;
}
.icon-link:hover {
    background-color: var(--primary-color);
    transition-delay: 0.1s;
}
.footnote {
    margin-bottom: 10vh;
}

#div_c_bg {
    background-image: url('../images/c-logo-119x128-blk.png');
}
#div_c_bg_alt {
    background-image: url('../images/c-logo-119x128.png');
}
#div_python_bg {
    background-image: url('../images/python-logo-128x128-blk.png');
}
#div_python_bg_alt {
    background-image: url('../images/python-logo-128x128.png');
}
#div_rust_bg {
    background-image: url('../images/rust-logo-128x128-blk-v2.png');
}
#div_rust_bg_alt {
    background-image: url('../images/rust-logo-128x128.png');
}
#div_css_bg {
    background-image: url('../images/css3-logo-91x128-blk.png');
}
#div_css_bg_alt {
    background-image: url('../images/css3-logo-91x128.png');
}
#div_github {
    background-image: url('../images/GitHub-Mark-32px.png');
}
#div_github:hover {
    background-image: url('../images/GitHub-Mark-Light-32px.png');
}
#div_linkedin {
    background-image: url('../images/In-Black-34px-R.png');
    /* Compensate for the "registered" symbol when centering horizontally */
    background-position: 68%;
}
#div_linkedin:hover {
    background-image: url('../images/In-White-34px-R.png');
}
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;     /* ? */
    background-color: #000000;  /* Fallback for...? */
    background-color: rgba(0, 0, 0, 0.25);
}
.modal-content {
    /* margin: 25% auto; */
    /* padding: 0; */
    border: 1px solid var(--border-color);
    width: 50%;
}
.close {
}
