:root {
    --main-color: black;
    --background-color: white;
    --alt-color: blue;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
}
section {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-right: 2vh;
    padding-left: 2vh;
    box-sizing: border-box;
}
nav {
    top: 0px;
    position: sticky;
    padding-top: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
    height: 7vh;
    background-color: var(--main-color);
    z-index: 99;
    text-align: left;
}
h1 {
    font-size: 26pt;
}

.full-height {
    height: 100vh;
}
.intro-wrap {
    transform: translate(0vh, -10vh);
}
.intro {
    font-size: 42px;
    margin-top: 0;
}
.nav-link-wrap {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.nav-link {
    position: relative;
    color: var(--background-color);
    text-decoration-line: none;
    transition: all 0.5s;
    font-size: 24px;
    padding-left: 3vh;
    padding-right: 3vh;
    left: 1vh;
}
.nav-link:hover {
    text-decoration: underline;
}
.nav-link.active {
    background-color: var(--alt-color);
    color: var(--background-color);
}
.button-link {
    color: var(--main-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-color);
    font-size: 16px;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    transition: color 0.5s, background-color 0.5s, visibility 0.5s, opacity 0.5s;
}
.button-link:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    position: relative;
    height: 200px;
    width: 200px;
}
.card-bg {
    animation: fadeIn 1.5s;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
    height: inherit;
    width: inherit;
}
.card:hover .card-bg {
    visibility: hidden;
    opacity: 0;
}
.card > .button-link {
    position: absolute;
    display: block;
    top: 50%;
    margin-left: 15%;
    width: 50%;
    transform: translate(0%, -50%);
    visibility: hidden;
    opacity: 0;
}
.card:hover > .button-link {
    opacity: 1;
    visibility: visible;
}

#divCBg {
    background-image: url('../images/c.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divPythonBg {
    background-image: url('../images/python.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divRustBg {
    background-image: url('../images/rust.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divCssBg {
    background-image: url('../images/css3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to: {
        opacity: 1;
    }
}
