:root {
    --primary-color: black;
    --text-color: black;
    --nav-color: black;
    --border-color: black;
    --background-color: white;
    --margin: 10%;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
}
section {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-right: 2vh;
    padding-left: 2vh;
    margin-left: var(--margin);
    margin-right: var(--margin);
    box-sizing: border-box;
}
footer {
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-top: 1px solid var(--nav-color);
}
nav {
    display: flex;
    top: 0px;
    position: sticky;
    padding-left: var(--margin);
    padding-right: var(--margin);
    height: 7vh;
    background-color: var(--nav-color);
    z-index: 99;
    text-align: left;
    align-items: center;
}
h1 {
    font-size: 26pt;
    color: var(--text-color);
}
p {
    color: var(--text-color);
}


.full-height {
    height: 100vh;
}
.intro-wrap {
    transform: translate(0vh, -10vh);
}
.intro {
    font-size: 42px;
    margin-top: 0;
}
.nav-link {
    display: flex;
    color: var(--background-color);
    text-decoration-line: none;
    transition: all 0.5s;
    font-size: 24px;
    padding-left: 3vh;
    height: 100%;
    align-items: center;
    padding-right: 3vh;
    left: 1vh;
}
.nav-link:hover {
    text-decoration: underline;
}
.nav-link.active {
    background-color: var(--primary-color);
    color: var(--background-color);
}
.button-link {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    font-size: 16px;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    transition: color 0.5s, background-color 0.5s, opacity 0.5s;
}
.button-link:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-wrap {
    width: 200px;
    height: 300px;
    margin: 2vh 2vh 2vh 2vh;
}
.card {
    position: relative;
    height: 200px;
    width: 200px;
}
.card-bg {
    height: inherit;
    width: inherit;
    opacity: 1;
    transition: opacity 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5vh;
}
.card-bg:hover {
    opacity: 0;
}
.card-bg-alt {
    height: inherit;
    width: inherit;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-bg-alt:hover {
    opacity: 1;
}
.card-wrap > .button-link {
    position: relative;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.icon-wrap {
    margin-top: 5vh;
}
.icon {
    margin: 1vh;
}
.icon-link {
    width: 64px;
    height: 64px;
    border: 1px var(--border-color) solid;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    transition: background-color 0.5s ease-in-out;
}
.icon-link:hover {
    background-color: var(--primary-color);
    transition-delay: 0.1s;
}
.footnote {
    margin-bottom: 10vh;
}

#divCBg {
    background-image: url('../images/c-logo-119x128-blk.png');
}
#divCBgAlt {
    background-image: url('../images/c-logo-119x128.png');
}
#divPythonBg {
    background-image: url('../images/python-logo-128x128-blk.png');
}
#divPythonBgAlt {
    background-image: url('../images/python-logo-128x128.png');
}
#divRustBg {
    background-image: url('../images/rust-logo-128x128-blk-v2.png');
}
#divRustBgAlt {
    background-image: url('../images/rust-logo-128x128.png');
}
#divCssBg {
    background-image: url('../images/css3-logo-91x128-blk.png');
}
#divCssBgAlt {
    background-image: url('../images/css3-logo-91x128.png');
}
#divGithub {
    background-image: url('../images/GitHub-Mark-32px.png');
}
#divGithub:hover {
    background-image: url('../images/GitHub-Mark-Light-32px.png');
}
#divLinkedin {
    background-image: url('../images/In-Black-34px-R.png');
    /* Compensate for the "registered" symbol when centering horizontally */
    background-position: 68%;
}
#divLinkedin:hover {
    background-image: url('../images/In-White-34px-R.png');
}
