html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
section {
    padding-top: 10vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
nav {
    top: 0px;
    position: sticky;
    padding-top: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
.full-height {
    height: 100vh;
}
.header {
    font-size: 26pt;
}
.card-wrap {
    /* display: none; */
    position: relative;
}
.card:nth-of-type(1) {
    background-image: url('../images/c.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 220px;
    width: 234px;
}
.card:nth-of-type(2) {
    background-image: url('../images/python.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}
.card:nth-child(3) {
    background-image: url('../images/rust.jpeg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}
.card {
    max-width: 100%;
    float: left;
}
.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 2s;
}
.slideDown {
    animation-name: slideDown;
    animation-duration: 0.7s;
}

@keyframes slideInLeft {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
