html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
section {
    padding-top: 10vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
nav {
    top: 0px;
    position: sticky;
    padding-top: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
.full-height {
    height: 100vh;
}
.header {
    font-size: 26pt;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    height: 200px;
    width: 200px;
}
.card-bg {
    animation: fadeIn 1.5s;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
    height: inherit;
    width: inherit;
}
.card:hover .card-bg {
    visibility: hidden;
    opacity: 0;
}
.card > button {
    position: relative;
    top: -50%;
    width: 50%;
    transform: translate(0, -100%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.card:hover > button {
    opacity: 1;
    visibility: visible;
}
#divCBg {
    background-image: url('../images/c.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divPythonBg {
    background-image: url('../images/python.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divRustBg {
    background-image: url('../images/rust.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divCssBg {
    background-image: url('../images/css3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.post {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to: {
        opacity: 1;
    }
}
