html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
section {
    padding-top: 10vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
nav {
    top: 0px;
    position: sticky;
    padding-top: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
.full-height {
    height: 100vh;
}
.header {
    font-size: 26pt;
}
.card-wrap {
    /* display: none; */
    position: relative;
}
.card {
    height: 120px;
    width: calc(50vh - 10px);
    max-width: 100%;
    float: left;
}
.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 2s;
}
.slideDown {
    animation-name: slideDown;
    animation-duration: 0.7s;
}

@keyframes slideInLeft {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
