html, body {
    height: 100%;
    margin: 0;
}
section {
    padding-top: 200px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
}
nav {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
nav.fixed {
    top: 0;
    bottom: inherit;
    left: 0;
    position: fixed;
}
.full-height {
    height: 100vh;
}
.header {
    font-size: 26pt;
}
.card-wrap {
    /* display: none; */
    position: relative;
}
.card {
    height: 120px;
    width: calc(50vh - 10px);
    max-width: 100%;
    float: left;
}
