:root {
    --main-color: #C50000;
    --background-color: white;  /* lame */
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
}
section {
    padding-top: 10vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
nav {
    top: 0px;
    position: sticky;
    padding-top: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
    top: 3vh;
}
a {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 2vh 2vh 2vh 2vh;
    text-decoration-line: none;
    transition: all 0.5s;
}
a:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}
button {
    color: var(--main-color);
    background-color: var(--background-color);
    border: 1px solid var(--main-color);
    font-size: 16px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: color 0.5s, background-color 0.5s, visibility 0.5s, opacity 0.5s;
}
button:hover {
    background-color: var(--main-color);
    color: var(--background-color);
}
.full-height {
    height: 100vh;
}
.header {
    font-size: 26pt;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    text-align: center;
    height: 200px;
    width: 200px;
}
.card-bg {
    animation: fadeIn 1.5s;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
    height: inherit;
    width: inherit;
}
.card:hover .card-bg {
    visibility: hidden;
    opacity: 0;
}
.card > button {
    position: relative;
    top: -50%;
    width: 70%;
    transform: translate(0, -50%);
    visibility: hidden;
    opacity: 0;
}
.card:hover > button {
    opacity: 1;
    visibility: visible;
}
#divCBg {
    background-image: url('../images/c.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divPythonBg {
    background-image: url('../images/python.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divRustBg {
    background-image: url('../images/rust.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divCssBg {
    background-image: url('../images/css3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.post {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to: {
        opacity: 1;
    }
}
