html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
section {
    padding-top: 10vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
nav {
    top: 0px;
    position: sticky;
    padding-top: 0vh;
    padding-right: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vh;
    box-sizing: border-box;
}
.full-height {
    height: 100vh;
}
.header {
    font-size: 26pt;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
}
.card-bg {
    animation: fadeIn 1.5s;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
    height: 200px;
    width: 200px;
}
.card:hover .card-bg {
    visibility: hidden;
    opacity: 0;
}
.card-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.card:hover .card-text {
    opacity: 1;
    visibility: visible;
}
#divCBg {
    background-image: url('../images/c.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divPythonBg {
    background-image: url('../images/python.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#divRustBg {
    background-image: url('../images/rust.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 2s;
}
.slideDown {
    animation-name: slideDown;
    animation-duration: 0.7s;
}



@keyframes slideInLeft {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to: {
        opacity: 1;
    }
}
