<!DOCTYPE html>
<html>
<head>
	<title>Blink One LED</title>
</head>
<body>
	<div>
		<center>
			<h1>Blink One LED</h1>
			<table>
				<tbody>
					<tr>
						<td>
							<button id="btn_run-tests_blink-one" type="button">Run Tests</button>
						</td>
						<td>
							<button id="btn_run-production_blink-one" type="button">Run Production Code</button>
						</td>
					</tr>
				</tbody>
			</table>
			<p><i>Blink the LED here</i></p>
		</center>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="static/blink_one.js"></script>
</body>
</html>
