<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
  <title>Hello, World! in C</title>
	<script defer src="{{ url_for('static', filename='blog.js') }}"></script>
</head>
  <body>
    <header id="post-header" class="post-header">
      <h1>Hello, World!</h1>
      <p>...an introduction to this blog.</p>
    </header>

    <article id="post-body" class="post-body">
      <h2>What is this blog all about?</h2>
      <p>This series of posts is about good practices in C.</p>
      <p>It has examples of design patterns, testing strategies,
        and third-party libraries. There is a bias towards Linux and
        embedded systems, but using C is the primary focus.</p>

      <p>Code examples illustrate actual projects on GitHub.</p>
      <code>
<pre>
int main(int argc, char *argv[])
{
  printf("Hello, World!\n");
  return 0;
}
</pre>
      </code>
      <p>Welcome and enjoy!</p>
    </article>

    <footer id="post-footer" class="post-footer">
    </foot>
  </body>
</html>
