<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
  <title>Hello, World! in C</title>
</head>
  <body>
    <header id="post-header" class="post-header">
      <h1>Hello, World!</h1>
      <p>...an introduction to this blog.</p>
    </header>

    <article id="post-body" class="post-body">
      <h2>What is this all about?</h2>
      <p>This series of posts is all about C.</p>
      <p>It has working examples of third-party libraries, design patterns,
        and testing strategies. It's organized in no particular order; just what
        I've had the occasion to learn. There is a slant toward embedded systems
        and Linux.</p>

      <p>Here is a simple example:</p>
      <pre>
<code>
int main(int argc, char *argv[])
{
  printf("Hello, World!");
  return 0;
}
</code>
      </pre>
      <p>Just the basics.</p>
    </article>

    <footer id="post-footer" class="post-footer">
      <p>Footer</p>
    </foot>
  </body>
</html>
