<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <title>C Language</title>
  </head>
  <body>
    <header id="home" class="">
      <h1>All things C</h1>
      <p>...with an emphasis on the embedded world.</p>
    </header>

    <section id="posts" class="blog-wrap">
      <div class="">
        <div class="blog-post">
          <h2>Hello, World!</h2>
          <p>Introduction to this blog.</p>
        </div>
        <div class="blog-post">
          <h2>Test-Driven Design on AVR</h2>
          <p>Work in progress... based on <a href="https://github.com/KevinWMatthews/c-libATtiny861">this GitHub repo</a></p>
        </div>
        <div class="blog-post">
          <h2>Exit Callbacks using stdlib</h2>
          <p>Construct from this skeleton <a href="https://github.com/KevinWMatthews/c-terminate_program">this GitHub repo</a></p>
        </div>
        <div class="blog-post">
          <h2>TLS Using OpenSSL</h2>
          <p>Experimental but functional. Based on <a href="https://github.com/KevinWMatthews/c-tls_demo">this GitHub repo</a></p>
        </div>
        <div class="blog-post">
          <h2>Varargs (variadics)</h2>
          <p>Closest thing to splat in C. Based on <a href="https://github.com/KevinWMatthews/c-varargs_demo">this GitHub repo</a></p>
        </div>
        <div class="blog-post">
          <h2>Parsing Command Line Options</h2>
          <p>Tired of strcmp() on argv? Based on <a href="https://github.com/KevinWMatthews/c-getopt_demo">this GitHub repo</a></p>
        </div>
        <div class="blog-post">
          <h2>Simple C Socket Server</h2>
          <p>There's a client, to. Based on <a href="https://github.com/KevinWMatthews/c-server_demo">this GitHub repo</a></p>
        </div>
        <div class="blog-post">
          <h2>Memory Semantics</h2>
          <p>It's there but you probably don't think about it. Based on <a href="https://youtu.be/-dc5vqt2tgA">this awesome video</a></p>
        </div>
      </div>
    </section>
  </body>
</html>
