{% extends "base.html" %}

{% block title %}Hello, World!{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='highlight.js/styles/highlight.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock styles %}

{% block deferred_scripts %}
	<script src="{{ url_for('static', filename='highlight.js/highlight_c.pack.js') }}"></script>
	<script src="{{ url_for('static', filename='blog.js') }}"></script>
{% endblock deferred_scripts %}

{% block navbar %}
	{% include '_blog_navbar.html' %}
{% endblock navbar %}

{% block header %}
	<header>
		<h1>Hello, World!</h1>
		<p>...an introduction to this blog.</p>
	</header>
{% endblock header %}

{% block content %}
	<section>
		<article class="blog-post">
			<h2>Sanity Check</h2>
			<p>Where is the code? How can I (actually you) run it?</p>
			<p>Here is a sample C project:</p>
<pre><code>int main(int argc, char *argv[])
{
    printf("Hello, World!\n");
    return 0;
}
</code></pre>
			<p>Welcome and enjoy!</p>
		</article>
	</section>
{% endblock content %}

{% block footer %}
	<footer>
	</footer>
{% endblock footer %}
