{% extends "base.html" %}

{% macro card(id, url, text) -%}
				<div class="card">
					<div class="card-bg" id="{{ id }}"></div>
					<a href="{{ url_for(url) }}" class="button-link">{{ text }}</a>
				</div>
{%- endmacro %}

{% block title %}Kevin's Blog{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}

{% block deferred_scripts %}
	<script defer src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock deferred_scripts %}

{% block navbar %}{# Navbar is in the content of the page #}{% endblock navbar %}
{% block header %}{% endblock header %}
{% block content %}
	<div class="overflow-wrap">
		<section id="home" class="full-height">
			<div>
				<p>Hello! My name is Kevin and I write code.</p>
				<a href="#blog" class="button-link local-link">Learn more</a>
			</div>
		</section>

		<nav id="nav">
			<div class="nav-link-wrap">
				<a href="#home" class="nav-link local-link active">Home</a>
				<a href="#blog" class="nav-link local-link">Blog</a>
				<a href="#about" class="nav-link local-link">About Me</a>
			</div>
		</nav>

		<section id="blog" class="full-height">
			<div>
				<h1>Blog</h1>
			</div>
			<div class="flex">
				{{ card('divCBg', 'blog_home', 'C') }}
				{{ card('divPythonBg', 'python_blog', 'Python') }}
				{{ card('divRustBg', 'rust_blog', 'Rust') }}
				{{ card('divCssBg', 'css3_blog', 'CSS') }}
			</div>
		</section>

		<section id="about" class="full-height">
			<h1>About</h1>
			<div>
				<p>o_O</p>
			</div>
		</section>
	</div>
{% endblock content %}
