<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Kevin's Blog</title>

	<script defer src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
<div class="overflow-wrap">

	<section id="home" class="full-height">
		<div class="slideInLeft">
			<p>Hello! My name is Kevin and I write code.</p>
			<a href="#projects" class="nav-link">Learn more</a>
		</div>
	</section>

	<nav id="nav">
		<a href="#home" class="nav-link">Home</a>
		<a href="#projects" class="nav-link">Projects</a>
		<a href="#about" class="nav-link">About Me</a>
	</nav>

	<section id="projects" class="full-height">
		<div class="header">Projects</div>

		<div class="card-wrap">
			<div class="flex card fadeIn">
				<p>Embedded C</p>
			</div>
			<div class="flex card fadeIn">
				<p>Python</p>
			</div>
			<div class="flex card fadeIn">
				<p>Rust</p>
			</div>
		</div>

	</section>

	<section id="about" class="full-height">
		<div class="header">about me o_O</div>
	</section>

</div>
</body>
</html>
