{% extends "base.html" %}

{% block title %}Kevin's Webpage{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}

{% block deferred_scripts %}
	<script defer src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock deferred_scripts %}

{% block navbar %}{# Navbar is in the content of the page #}{% endblock navbar %}
{% block header %}{% endblock header %}
{% block content %}
	<div class="container">
		<section id="home">
			<div class="intro-wrap">
				<p class="intro">Hello! I'm Kevin.<br>
				 I like to write code.</p>
				<a href="#blog" class="button-link local-link">Learn more</a>
			</div>
		</section>

		<nav id="nav">
			<a href="#home" class="nav-link local-link active">Home</a>
			<a href="#blog" class="nav-link local-link">Blog</a>
			<a href="#about" class="nav-link local-link">About</a>
		</nav>

		<section id="blog">
			<div>
				<h1>Blog</h1>
			</div>
			<div class="flex">
				{{ card('divCBg', 'C') }}
				{{ card('divPythonBg', 'Python') }}
				{{ card('divRustBg', 'Rust') }}
				{{ card('divCssBg', 'CSS') }}
			</div>
		</section>

		<section id="about">
			<h1>About</h1>
			<div>
				<p>I'm Kevin. I write embedded software professionally and full-stack
					 web applications on the side.</p>
				<p>Much of my daily work is in C but I've learned and used Python, Ruby,
					JavaScript, C++, and Rust to varying degrees. I'm hooked on fast feedback
					loops, automated tests, and solutions that are designed to evolve.</p>
				<p>I strive to write clean, thoughtful, testable code. I want to be proud
					of what I deploy so I aspire to a high level of crafstmanship.</p>
			</div>
		</section>
	</div>
{% endblock content %}

{% block footer %}
	<footer>
		<div class="flex icon-wrap">
			<div class="icon">
				<a href="http://github.com/KevinWMatthews/">
					<div class="flex icon-link" id="divGithub"></div>
				</a>
			</div>
			<div class="icon">
				<a id="linkedin" href="https://www.linkedin.com/in/KevinWMatthews">
					<div class="flex icon-link" id="divLinkedin"></div>
				</a>
			</div>
		</div>
		<p class="footnote">&copy;2018 by Kevin Matthews</p>
	</footer>
{% endblock footer %}

{% macro card(id, text) -%}
				<div class="card-wrap">
					<a href="{{ url_for('blog_by_category', category=text) }}" class="button-link">{{ text }}</a>
					<div class="card">
						<div class="card-bg" id="{{ id }}"></div>
						<div class="card-bg-alt" id="{{ id }}Alt"></div>
					</div>
				</div>
{%- endmacro %}
