<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Blog</title>
  </head>
  <body>
    <section id="home" class="full-height">
      <h1>Python tidbits</h1>
      <p>Odds, ends, and generally useful things to know while learning Python</p>
    </section>

    <section id="posts" class="full-height">
      <div class="post">
        <h2>Several posts on Python semantics</h2>
        <p>Do you this core contributor's advice? Based on <a href="https://youtu.be/anrOzOapJ2E">his excellent video</a></p>
      </div>
  </section>
  </body>
</html>
