.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "home"
        "navbar"
        "about"
        "projects"
        "blog"
        "footer";
    grid-template-rows:
        [home] minmax(100vh, auto)
        [navbar] auto
        [about] minmax(100vh, auto)
        [projects] minmax(100vh, auto)
        [blog] minmax(100vh, auto)
        [footer] 25vh;
}
nav {
    grid-area: navbar;
}
section#home {
    grid-area: home;
}
section#blog {
    grid-area: blog;
}
section#about {
    grid-area: about;
}
section#projects {
    grid-area: projects;
}
footer {
    grid-area: footer;
}
article {
    display: grid;
    grid-template-columns: minmax(0, 70vw);
    justify-content: center;
    padding-bottom: 5vh;
}
h1, h2, h3, h4 {
    text-align: center;
}
.grid-color-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}
.color-primary {
    grid-area: primary;
}
.color-secondary {
    grid-area: secondary;
}
.color-text {
    grid-area: text;
}
.color-nav {
    grid-area: nav;
}
.color-bg {
    grid-area: bg;
}
#intro {
    font-size: 42px;
    text-align: center;
}
