.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "home"
        "navbar"
        "about"
        "projects"
        "blog"
        "footer";
    grid-template-rows:
        [home] minmax(100vh, auto)
        [navbar] auto
        [about] minmax(100vh, auto)
        [projects] minmax(100vh, auto)
        [blog] minmax(100vh, auto)
        [footer] 25vh;
}
nav {
    grid-area: navbar;
}
section#home {
    grid-area: home;
}
section#blog {
    grid-area: blog;
}
section#about {
    grid-area: about;
}
section#projects {
    grid-area: projects;
}
footer {
    grid-area: footer;
}
article {
    display: grid;
    grid-template-columns: minmax(0, 70vw);
    justify-content: center;
    padding-bottom: 5vh;
}
h1, h2, h3, h4 {
    text-align: center;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--canvas-color);
    z-index: -1;
}

.grid-color-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}
.color-primary {
    grid-area: primary;
}
.color-secondary {
    grid-area: secondary;
}
.color-text {
    grid-area: text;
}
.color-nav {
    grid-area: nav;
}
.color-bg {
    grid-area: bg;
}
img {
    float: left;
}
#me {
    width: 45%;
    padding-right: 5%;
}
div .div_about {
    padding-left: 5%;
}
.card-grid {
    display: grid;
    justify-items: center;
    row-gap: 2vh;
    grid-template-areas:
        "card-image"
        "card-button"
        ;
}
.card-image-wrap {
    grid-area: card-image;
}
.card-button {
    grid-area: card-button;
}
.card {
    margin: 2vh 2vw 2vh 2vw;
}
.card-image-wrap {
    height: 128px;
    width: 128px;
}
.card-image {
    display: block;
    height: inherit;
    width: inherit;
    opacity: 1;
    transition: opacity 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-image:hover {
    opacity: 0;
}
.card-image-alt {
    display: block;
    height: inherit;
    width: inherit;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 1s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card-image-alt:hover {
    opacity: 1;
}
.card > .button {
    min-width: 128px;
    justify-content: center;
}

#intro {
    display: inline-block;
    font-size: 42px;
    color: white;
    text-align: center;
    background-color: var(--canvas-color);
}
#btn_learn_more {
    color: var(--background-color);
    background-color: var(--canvas-color);
}
#btn_learn_more:hover {
    background-color: var(--primary-color);
}

#div_all_posts_bg {
    background-image: url('../images/blog-logo-greyscale.png');
}
#div_all_posts_bg_alt {
    background-image: url('../images/blog-logo.png');
}
#div_c_bg {
    background-image: url('../images/c-logo-119x128-blk.png');
}
#div_c_bg_alt {
    background-image: url('../images/c-logo-119x128.png');
}
#div_python_bg {
    background-image: url('../images/python-logo-128x128-blk.png');
}
#div_python_bg_alt {
    background-image: url('../images/python-logo-128x128.png');
}
#div_rust_bg {
    background-image: url('../images/rust-logo-128x128-blk-v2.png');
}
#div_rust_bg_alt {
    background-image: url('../images/rust-logo-128x128.png');
}
#div_css_bg {
    background-image: url('../images/css3-logo-91x128-blk.png');
}
#div_css_bg_alt {
    background-image: url('../images/css3-logo-91x128.png');
}
#div_cmake_bg {
    background-image: url('../images/cmake-128x128-greyscale.png');
}
#div_cmake_bg_alt {
    background-image: url('../images/cmake-128x128.png');
}
#div_docker_bg {
    background-image: url('../images/docker-285x163-greyscale.png');
}
#div_docker_bg_alt {
    background-image: url('../images/docker-285x163.png');
}
