:root {
    /* JavaScript treats all characters between ':' and ';' as the color value */
    /* For ease and speed of parsing, remove all whitespace. */
    --background-color:#ffffff;
    --primary-color:#696969;
    --secondary-color:#696969;
    --text-color:#494e52;
    --nav-color:#112233;
    --margin: 10%;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--background-color);
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-left: var(--margin);
    margin-right: var(--margin);
}
footer {
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-top: 1px solid var(--nav-color);
}
nav {
    display: flex;
    position: sticky;
    top: 0px;
    padding-right: var(--margin);
    padding-left: var(--margin);
    text-align: left;
    align-items: center;
    color: var(--background-color);
    background-color: var(--nav-color);
    border-bottom: 3px solid var(--secondary-color);
    z-index: 1;
}
.nav_top {
    height: 50px;
}
.nav_mobile {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 2px;   /* lame */
    padding-left: 1vw;
    align-items: flex-start;
    align-content: center;
}
.toggle {
    display: block;
}
.hide {
    display: none;
}
@media screen and (max-width: 799px) {
    #nav_top {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    #nav_mobile {
        display: none;
    }
}
#mobile_menu {
    font-size: 48px;
}
h1 {
    font-size: 26pt;
    color: var(--text-color);
    margin-bottom: 7vh;
}
p {
    color: var(--text-color);
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
        "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
}
footer > p {
    text-align: center;
}
a {
    text-decoration: none;
}
.material-icons::before {
    display: none;
}
button, .button {
    display: inline-flex;
    box-sizing: border-box;
    font-family: Arial sans-serif;
    font-size: 20px;
    padding-top: 0.8rem;
    padding-right: 1.1rem;
    padding-bottom: 0.8rem;
    padding-left: 1.1rem;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    transition: color 0.5s, background-color 0.5s;
}
button:hover, .button:hover {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--primary-color);
}
button::-moz-focus-inner {
    border:0;
}
.external-link {
    color: var(--secondary-color);
    background-color: var(--background-color);
    border-color: var(--secondary-color);
}
.external-link:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
/* Affects both top and mobile nav bar */
nav a, nav button {
    display: flex;
    font-size: 24px;
    color: var(--background-color);
    background-color: var(--nav-color);
    outline: none;
    transition: all 0.5s;
}
/* Top nav bar */
nav > a, nav > button {
    align-items: center;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
/*  Mobile nav bar */
.nav_mobile a, .nav_mobile button {
    display: block;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}
.nav_mobile button {
    position: inherit;
    border: none;
}
nav > button {
    position: absolute;
    right: var(--margin);
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
nav a:hover {
    color: var(--primary-color);
}
nav button:hover {
    color: var(--primary-color);
    background-color: inherit;
}
nav button:focus {
    outline: none;
}
.nav-current {
    color: var(--primary-color);
}
.nav-current:hover {
    color: var(--primary-color);
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #blog {
        margin-left: 0;
        margin-right: 0;
    }
    #card_container {
        width: 100vw;
    }
}
.footer-wrap {
    margin-top: 5vh;
}
.icon-link {
    margin: 1vh;
    position: relative;
    outline: none;
}
.icon-image {
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    border: 1px black solid;
    transition: 0.5s ease-in-out;
}
.icon-image:hover {
    transition-delay: 0.1s;
}
.footnote {
    margin-bottom: 10vh;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;     /* ? */
    background-color: #000000;  /* Fallback for...? */
    background-color: rgba(0, 0, 0, 0.25);
}
.modal-content {
    position: relative;
    margin: 15% auto;
    border: 1px solid var(--nav-color);
    width: 350px;
    background-color: var(--background-color);
}
.modal-header {
    text-align: left;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    line-height: 1.5;
    border-bottom: 1px solid var(--nav-color);
}
.modal-body {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: left;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-top: 1px solid var(--nav-color);
}
.modal-title {
    font-weight: bold;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5rem;
    color: grey;
    font-size: 24px;
    font-weight: bold;
}
.close:hover {
    color: black;
    cursor: pointer;
}
#span_github {
    background-image: url('../images/GitHub-Mark-32px.png');
}
#span_github:hover {
    background-image: url('../images/GitHub-Mark-Light-32px.png');
}
#span_linkedin {
    background-image: url('../images/In-Black-34px-R.png');
    /* Compensate for the "registered" symbol when centering horizontally */
    background-position: 68%;
}
#span_linkedin:hover {
    background-image: url('../images/In-White-34px-R.png');
}
