{% extends "base.html" %}

{% block title %}404 Page Not Found{% endblock title %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{%- endblock styles %}

{% block content %}
	<section>
		<h2>404 Not Found</h2>
		<p>Looks like this page doesn't exist...</p>

	</section>
{% endblock content %}

{% block footer %}
		<footer>
			<div class="footer-wrap">
				<a href="#home" class="button-link local-link">Top</a>
			</div>

			<div class="flex footer-wrap">
				<a class="icon-link" href="http://github.com/KevinWMatthews/">
					<div class="flex icon-image" id="div_github"></div>
				</a>
				<a class="icon-link" href="https://www.linkedin.com/in/KevinWMatthews">
					<div class="flex icon-image" id="div_linkedin"></div>
				</a>
			</div>
			<p class="footnote">&copy;2018 by Kevin Matthews</p>
		</footer>
{% endblock footer %}
