		<nav id="nav_top" class="nav_top">
			<a href="#home" class="local-link nav-current">Home</a>
			<a href="#blog" class="local-link">Blog</a>
			<a href="#about" class="local-link">About</a>
			<button type="button" class="btn_show_color">
				<i class="material-icons">settings</i>
				<span>&nbsp;Color</span>
			</button>
		</nav>

		<nav id="nav_mobile" class="nav_mobile">
			<div>
				<i id="mobile_menu" class="material-icons mdi">menu</i>
			</div>
			<div class="toggle hide">
				<a href="#home" class="local-link nav-current">Home</a>
				<a href="#blog" class="local-link">Blog</a>
				<a href="#about" class="local-link">About</a>
				<button type="button" class="btn_show_color">
					<i class="material-icons">settings</i>
					<span>Color</span>
				</button>
			</div>
		</nav>
