{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block styles %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{%- endblock styles %}

{% block deferred_scripts %}
	<script defer src="{{ url_for('static', filename='index.js') }}"></script>
	<script defer src="{{ url_for('static', filename='canvas.js') }}"></script>
{%- endblock deferred_scripts %}

{% block navbar %}{# Navbar is in the content of the page #}{% endblock navbar %}

{% block header %}{% endblock header %}
{% block content %}
		<section id="home">
			<div id="canvas_wrap">
				<canvas id="canvas"></canvas>
			</div>
			<div>
				<p id="intro">Hello! I'm Kevin.<br>
				 I'm a software developer.</p>
			</div>
			 <div class="flex">
				 <a href="#about" id="btn_learn_more" class="button scrolling-link">
					 Learn more&nbsp;<i class="material-icons">arrow_downward</i>
				 </a>
			 </div>
		</section>

{% include "_navbar.html" %}

		<section id="about">
			<h1>About</h1>
			<article>
				<div class="content_graphic">
					<img src="{{ url_for('static', filename='images/me_at_red_rocks.jpg') }}"
						alt="Picture of me at Red Rocks">
				</div>
				<div class="content_text">
					<p>Embedded developer by day, aspiring polyglot by night, a bit of web
						development on the side.</p>
					<p>My daily work is on embedded Linux systems in C, with a web interface
						in Python and JavaScript. I've also used and studied C++, Ruby, and Rust.</p>
					<p>I'm hooked on fast feedback loops, automated tests, and solutions
						that are designed to evolve. I strive to craft thoughtful, clean,
						testable code because I like to be proud of what I deploy.</p>
				</div>
			</article>
			<div class="flex">
				<a href="#projects" id="btn_projects" class="button scrolling-link">
					Projects&nbsp;<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</section>

		<section id="projects">
			<h1>Projects</h1>
			<article>
				<div class="content_graphic">
					<img src="{{ url_for('static', filename='images/c_code.png') }}" alt="Picture of code">
				</div>
				<div class="content_text">
					<p>I have developed professionally for bare-metal, FreeRTOS, and embedded
						Linux devices and have built a custom Linux distro using Buildroot.
						These systems include VoIP endpoints,
						RFID readers (NFC), and water chemistry controllers.</p>
					<p>All of this work is proprietary, so I'm creating
						a blog to share projects that I've made on the side.</p>
				</div>
			</article>
			<div class="flex">
				<a href="#blog" id="btn_blog" class="button scrolling-link">
					Blog&nbsp;<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</section>

		<section class="grid-blog" id="blog">
			<h1>Blog</h1>
			<div class="flex" id="card_container">
				{%- for card in cards %}
				<div class="card card-grid">
					<div class="card-image-wrap">
						<a class="card-image" id="div_{{ card.id }}_bg" href="{{ card.url }}" tabindex="-1"></a>
						<a class="card-image-alt" id="div_{{ card.id }}_bg_alt" href="{{ card.url }}" tabindex="-1"></a>
					</div>
					<a href="{{ card.url }}" class="button external-link">
						{{ card.text }}&nbsp;<i class="material-icons">arrow_forward</i>
					</a>
				</div>
				{%- endfor %}
			</div>
		</section>

		<div id="modal_colorpicker" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="modal-title">Choose a Color Scheme</span><span id="span_close_colorpicker" class="close">&times;</span>
				</div>
				<div class="modal-body">
					<div class="grid-color-modal">
						<label for="color_primary">Primary</label>
						<input type="color" id="color_primary" value="#696969">
						<label for="color_secondary">Secondary</label>
						<input type="color" id="color_secondary" value="#696969">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn_close_colorpicker" class="button">Close</button>
				</div>
			</div>
		</div>
{% endblock content %}

{% block footer %}
			<div class="footer-wrap">
				<a href="#home" class="button scrolling-link">
					Top&nbsp;<i class="material-icons">arrow_upward</i>
				</a>
			</div>
{%- endblock footer %}
