{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block styles %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{%- endblock styles %}

{% block deferred_scripts %}
	<script defer src="{{ url_for('static', filename='index.js') }}"></script>
{%- endblock deferred_scripts %}

{% block navbar %}{# Navbar is in the content of the page #}{% endblock navbar %}

{% block header %}{% endblock header %}
{% block content %}

		<section id="home">
			<div class="grid-home">
				<div class="intro">
					<p id="intro">Hello! I'm Kevin.<br>
					 I like to write code.</p>
				 </div>
				 <div class="learn-more flex">
					 <a href="#blog" id="learn_more" class="button-link local-link">Learn more</a>
				 </div>
				</div>
		</section>

		<nav id="nav_top" class="nav_top">
			<a href="#home" class="local-link nav-current">Home</a>
			<a href="#blog" class="local-link">Blog</a>
			<a href="#about" class="local-link">About</a>
			<button type="button" class="btn_show_color">
				<i class="material-icons">settings</i>
				<span>&nbsp;Color</span>
			</button>
		</nav>

		<nav id="nav_mobile" class="nav_mobile">
			<div>
				<i id="mobile_menu" class="material-icons mdi">menu</i>
			</div>
			<div class="toggle hide">
				<a href="#home" class="local-link nav-current">Home</a>
				<a href="#blog" class="local-link">Blog</a>
				<a href="#about" class="local-link">About</a>
				<button type="button" class="btn_show_color">
					<i class="material-icons">settings</i>
					<span>Color</span>
				</button>
			</div>
		</nav>

		<section id="blog">
			<div>
				<h1>Blog</h1>
			</div>
			<div class="flex" id="card_container">
				{% for card in cards %}
				<div class="card">
					<a href="{{ card.url }}" class="button-link">{{ card.text }}</a>
					<div class="card-image-wrap">
						<a class="card-image" id="div_{{ card.id }}_bg" href="{{ card.url }}" tabindex="-1"></a>
						<a class="card-image-alt" id="div_{{ card.id }}_bg_alt" href="{{ card.url }}" tabindex="-1"></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>

		<section id="about">
			<h1>About</h1>
			<div class="grid-about">
				<p>I'm Kevin. Embedded developer by day, web developer by night, aspiring
					to a high level of crafstmanship.</p>
				<p>Much of my daily work is in C but I've used or studied Python, Ruby,
					JavaScript, C++, and Rust.</p>
				<p>I'm hooked on fast feedback loops, automated tests, and solutions
					that are designed to evolve.</p>
				<p>I strive to craft thoughtful, clean, testable code because I like to
				be proud of what I deploy.</p>
			</div>
		</section>

		<div id="modal_colorpicker" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="modal-title">Title</span><span id="span_close_colorpicker" class="close">&times;</span>
				</div>
				<div class="modal-body">
					<div class="grid-color-modal">
						<label for="color_nav">Border/Nav Bar</label>
						<input type="color" id="color_nav">
						<label for="color_primary">Highlight 1</label>
						<input type="color" id="color_primary">
						<label for="color_secondary">Highlight 2</label>
						<input type="color" id="color_secondary">
						<label for="color_text">Text</label>
						<input type="color" id="color_text">
						<label for="color_bg">Background</label>
						<input type="color" id="color_bg">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn_close_colorpicker" class="button">Close</button>
				</div>
			</div>
		</div>
{% endblock content %}

{% block footer %}
		<div class="footer-wrap">
			<a href="#home" class="button-link local-link">Top</a>
		</div>
{%- endblock footer %}
