{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block styles %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{%- endblock styles %}

{% block deferred_scripts %}
	<script defer src="{{ url_for('static', filename='index.js') }}"></script>
{%- endblock deferred_scripts %}

{% block navbar %}{# Navbar is in the content of the page #}{% endblock navbar %}

{% block header %}{% endblock header %}
{% block content %}

		<section id="home">
			<div>
				<div>
					<p id="intro">Hello! I'm Kevin.<br>
					 I'm a software developer.</p>
				</div>
				 <div class="flex">
					 <a href="#about" id="btn_learn_more" class="button-link local-link">
						 Learn more&nbsp;<i class="material-icons">arrow_downward</i>
					 </a>
				 </div>
			</div>
		</section>

{% include "_navbar.html" %}

		<section id="about">
			<h1>About</h1>
			<article>
				<p>Kevin here - embedded developer by day, web developer by night, aspiring
					polyglot.</p>
				<p>My daily work is in C, Python, and JavaScript but I've used and studied
					C++, Ruby, and am diving into Rust.</p>
				<p>I'm hooked on fast feedback loops, automated tests, and solutions
					that are designed to evolve.</p>
				<p>I strive to craft thoughtful, clean, testable code because I like to
				be proud of what I deploy.</p>
			</article>
			<div class="flex">
				<a href="#projects" id="btn_projects" class="button-link local-link">
					Projects&nbsp;<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</section>

		<section id="projects">
			<h1>Projects</h1>
			<article>
				<p>I work on embedded systems professionally, thus far on VoIP endpoints,
					NFC (RFID) devices, and water chemistry controllers.</p>
				<p>I've developed for bare-metal, FreeRTOS, and Linux-based devices and
					built a custom Linux distro using Buldroot.</p>
				<p>All of this work is proprietary, so I'm creating
					a blog to share projects that I've made on the side.</p>
			</article>
			<div class="flex">
				<a href="#blog" id="btn_blog" class="button-link local-link">
					Blog&nbsp;<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</section>

		<section class="grid-blog" id="blog">
			<h1>Blog</h1>
			<article>
				<p>The blog features explorations into test-driven design, design patterns,
					language semantics, and projects that I find interesting.</p>
				<p>Browse all posts or filter by an individual subject.</p>
			</article>
			<div class="bottom-padding flex">
				<a href="https://blog.kevinwmatthews.com" class="button-link">
					{{ "{{" }} blog_name_here {{ "}}" }}&nbsp;<i class="material-icons">arrow_forward</i>
				</a>
			</div>
			<div class="flex" id="card_container">
				{%- for card in cards %}
				<div class="card">
					<a href="{{ card.url }}" class="button-link">
						{{ card.text }}&nbsp;<i class="material-icons">arrow_forward</i>
					</a>
					<div class="card-image-wrap">
						<a class="card-image" id="div_{{ card.id }}_bg" href="{{ card.url }}" tabindex="-1"></a>
						<a class="card-image-alt" id="div_{{ card.id }}_bg_alt" href="{{ card.url }}" tabindex="-1"></a>
					</div>
				</div>
				{%- endfor %}
			</div>
		</section>

		<div id="modal_colorpicker" class="modal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="modal-title">Title</span><span id="span_close_colorpicker" class="close">&times;</span>
				</div>
				<div class="modal-body">
					<div class="grid-color-modal">
						<label for="color_primary">Primary</label>
						<input type="color" id="color_primary">
						<label for="color_highlight">Highlight</label>
						<input type="color" id="color_highlight">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn_close_colorpicker" class="button">Close</button>
				</div>
			</div>
		</div>
{% endblock content %}

{% block footer %}
			<div class="footer-wrap">
				<a href="#home" class="button-link local-link">
					Top&nbsp;<i class="material-icons">arrow_upward</i>
				</a>
			</div>
{%- endblock footer %}
